// File: footer.component.scss
@use '../../../styles.scss' as *;

footer {
    background-color: #FBFBFB;
    border-top: 1px solid #e2e2e2;
    width: 100%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    padding-top: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    transition: color 0.1s;
}

a:hover {
    color: #2f80ed;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e8e8e8;
}

.footer-col h3 {
    font-size: 13px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    display: block;
    font-size: 12px;
}

.logos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
}

.logo-box {
    width: 60px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 4px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.social-link .icon {
    font-size: 16px;
    margin-right: 5px;
}

.download-box {
    display: flex;
    gap: 10px;
}

.qr-code {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #ccc;
}

.app-stores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.store-btn {
    width: 80px;
    height: 22px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    flex-wrap: wrap;
    gap: 10px;
}


.country-list {
    display: flex;
    flex-wrap: wrap;
}

.country-list span {
    padding: 0 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.country-list span:last-child {
    border-right: none;
}

.policy-section {
    background-color: #F5F5F5;
    padding: 20px 0 30px;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}

.policy-links {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.policy-links a {
    padding: 0 15px;
    border-right: 1px solid rgba(0, 0, 0, .09);
}

.policy-links a:last-child {
    border-right: none;
}