@if(updatedCategory) {
<div class="page-wrapper">
  <div class="admin-panel">

    <div class="panel-header">
      <div class="icon-box">
        <i class="fa-solid fa-pen-to-square"></i>
      </div>
      <div class="title-box">
        <h3 class="panel-title">Cập Nhật Danh Mục</h3>
        <p class="panel-desc">Chỉnh sửa tên danh mục id: {{ updatedCategory.id }}</p>
      </div>
    </div>

    <form (ngSubmit)="updateCategory()" class="panel-form">
      <div class="form-group">
        <label for="name" class="input-label">Tên danh mục</label>
        <input type="text" id="name" [(ngModel)]="updatedCategory.name" name="name" class="form-input"
          placeholder="Nhập tên danh mục mới" required>
      </div>

      <div class="form-footer">
        <button type="button" class="btn-back" onclick="history.back()">Hủy bỏ</button>
        <button type="submit" class="btn-update"><i class="fa-solid fa-save"></i>Lưu thay đổi</button>
      </div>
    </form>

  </div>
</div>
}