// File: home.component.scss
@use '../../../styles.scss' as *;

.container-fluid {
    background-color: $shopapp-background-color-main;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}

.section+.section {
    margin-top: 50px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $shopapp-title-font-family;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding-top: 15px;
}

.product-card {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #eaecf0;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-img {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-placeholder {
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
}

.product-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-name {
    font-size: 14px;
    color: #333;
    font-weight: 500;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    flex-grow: 1;
    max-height: 2.8em;
}

.current-price {
    font-size: 18px;
    font-weight: bold;
    color: #d0021b;
    margin-bottom: 4px;
    display: block;
}