<!-- File: home.component.html -->
<app-header></app-header>
<main class="container-fluid">
    <div class="container">

        <div class="section">
            <h2 class="section-title">Gợi ý cho bạn</h2>
            <section class="product-grid">
                @for(product of products; track product.id) {
                <article class="product-card" (click)="onProductClick(product.id)">
                    <figure class="product-img">
                        <div class="img-placeholder">
                            @if (product.thumbnail) {
                            <img [src]="product.url" alt="Product Image" class="product-image">
                            } @else {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" class="product-image">
                                <rect rx="6" ry="6" width="100%" height="100%" fill="#9aa0a6" />
                                <text x="50%" y="50%" text-anchor="middle" font-size="50" fill="#ffffff">
                                    Image cap
                                </text>
                            </svg>
                            }
                        </div>
                    </figure>
                    <h3 class="product-name">{{ product.name }}</h3>
                    <div class="price-box">
                        <span class="current-price">{{ product.price }}</span>
                    </div>
                </article>
                }
            </section>
        </div>

    </div>
</main>
<app-footer></app-footer>