<!-- File: header.component.html -->
<header class="container-fluid">
    <div class="container">

        <section class="top-bar">
            <a href="#" class="logo">
                <div class="logo-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="50" height="50">
                        <circle cx="50" cy="50" r="45" fill="#FFFFFF" stroke="#000000" stroke-width="0.5" />
                        <circle cx="50" cy="50" r="35" fill="#000000" />
                        <circle cx="50" cy="50" r="25" fill="#0066FF" />
                        <circle cx="50" cy="50" r="15" fill="#FF0000" />
                        <circle cx="50" cy="50" r="10" fill="#FFD700" />
                    </svg>
                </div>
                <div class="">NochTech.com</div>
            </a>

            <form class="search-form">
                <i class="fas fa-search search-icon"></i>
                <input type="text" placeholder="Tìm kiến sản phẩm yêu thích">
            </form>

            <div class="user-actions">
                <div class="action-link">
                    <i class="far fa-user"></i>
                    @if(userResponse) {
                    <ng-container popoverTitle="User Actions" triggers="click">
                        <a class="nav-link" [ngbPopover]="popoverContent" (click)="togglePopover($event)">{{ userResponse.fullname }}</a>
                        <ng-template #popoverContent>
                            <div class="popover-list">
                                <a class="popover-item" (click)="handleItemClick(0)">Tài khoản của tôi</a>
                                <a class="popover-item" (click)="handleItemClick(1)">Đơn mua</a>
                                <a class="popover-item" (click)="handleItemClick(2)">Đăng xuất</a>
                            </div>
                        </ng-template>
                    </ng-container>
                    } @else {
                    <ng-container>
                        <a class="nav-link" routerLink="/login">Đăng nhập</a>
                    </ng-container>
                    }
                </div>
                <a class="action-link" routerLink="/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Giỏ hàng</span>
                </a>
                <div class="location-box">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>P.Cầu Giấy, TP. Hà Nội</span>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </section>

        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-mobile-alt nav-icon"></i>
                        <span>Điện thoại</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-laptop nav-icon"></i>
                        <span>Laptop</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-headphones nav-icon"></i>
                        <span>Phụ kiện</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-stopwatch nav-icon"></i>
                        <span>Smartwatch</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-clock nav-icon"></i>
                        <span>Đồng hồ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-tablet-alt nav-icon"></i>
                        <span>Tablet</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-sync nav-icon"></i>
                        <span>Máy cũ, Thu cũ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-desktop nav-icon"></i>
                        <span>Màn hình, Máy in</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-sim-card nav-icon"></i>
                        <span>Sim, Thẻ cào</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-tools nav-icon"></i>
                        <span>Dịch vụ tiện ích</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</header>