// File: product.detail.component.scss
@use '../../../styles.scss' as *;

.product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.thumbnail-item {
    width: 120px;
    height: 120px;
}

.thumbnail-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-item.active {
    border: 2px solid rgb(65, 65, 65);
}

.product-details {
    margin: 20px;
}

.product-actions {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.product-actions button {
    margin-right: 10px;
}