<!-- @if(product) { -->
<div>
  <!-- Form cập nhật thông tin sản phẩm -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Update Product</h3>
        <form>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
          </div>
          <div class="form-group mb-3">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" class="form-control col-md-3" required>
          </div>
          <div class="form-group mb-3">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="form-control" required></textarea>
          </div>
          <div class="form-group mb-3">
            <label for="category">Category:</label>
            <select id="category" name="category" class="form-control" required>
              <option>Danh mục</option>
            </select>
          </div>
          <div class="row mb-3">
            <div class="thumbnail-container">
              <div class="thumbnail-item">
                <img class="thumbnail-image" alt="Thumbnail Image">
                <button type="button" class="btn btn-sm remove-image">Delete Image</button>
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="images">Add images (up to 10):</label>
            <input type="file" id="images" name="images">
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>